.containerForHeader--LaunchesDetails {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  background-color: #9c0604;
}

.containerForBody--LaunchesDetails {
  width: 100%;
  height: 250vh;
  display: flex;
  flex-direction: row;
}

.containerForRocketImages--LaunchesDetails {
  width: 50%;
  height: 250vh;

  background-image: url("../assets/LaunchDetailBG.png");
  background-size: 100% 100%;
  border-radius: 5px;
}

.containerForLaunchesInfomation--LaunchesDetails {
  width: 50%;
  overflow-y: auto;
  height: 250vh;
}

@media screen and (max-width: 1280px) {
  .containerForRocketImages--LaunchesDetails {
    width: 50%;
    height: 100vh;
  }
  .containerForBody--LaunchesDetails {
    height: 100vh;
    overflow-y: auto;
    overflow: hidden;
  }
}
