/* .imageContainer {
  max-width: 40%;
  height: 100%;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
} */

.Image-ContainerInCards {
  max-width: 40%;
}

.Launch-Card-Container {
  width: 100%;
}
