* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Red Hat Text", sans-serif;
}

// colors primary
$Grayish-blue: hsl(237, 18%, 59%);
$Soft-red: hsl(345, 95%, 68%);

// Neutral

$White: hsl(0, 0%, 100%);
$Dark-desaturated-blue: hsl(236, 21%, 26%);
$Very-dark-blue: hsl(235, 16%, 14%);
$Very-dark-blue1: hsl(234, 17%, 12%);

.Container--CountDown {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  background-size: 200% 20%;
  // background-position: bottom right;

  .clock-container {
    width: 100%;
    max-width: 690px;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > h2 {
      width: 100%;
      height: auto;
      color: $Soft-red;
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      letter-spacing: 5px;
    }

    .clock {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25%;

      > div {
        width: 23%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        > p {
          min-width: 70px;
          width: 100%;
          max-width: 145px;
          min-height: 64px;
          height: calc(100vw - 340px);
          max-height: 135px;
          color: $Soft-red;
          font-size: 30px;
          font-weight: 700;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: linear-gradient(
            180deg,
            rgba(44, 44, 68, 1) 0%,
            rgba(44, 44, 68, 1) 50%,
            rgba(50, 54, 78, 1) 53%
          );
          border-radius: 10px;
          box-shadow: 0px 8px 0px -1px rgb(35, 35, 55);

          &::before {
            content: "";
            width: 5%;
            height: 7%;
            background-color: $Very-dark-blue;
            border-top-right-radius: 60%;
            border-bottom-right-radius: 60%;
          }

          &::after {
            content: "";
            width: 5%;
            height: 7%;
            background-color: $Very-dark-blue;
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
          }
        }

        > h3 {
          font-size: 8px;
          font-weight: 200;
          letter-spacing: 3px;
          color: $Grayish-blue;
          text-transform: uppercase;
          margin-top: 20px;
        }
      }
    }

    .socials {
      width: 100%;
      max-width: 135px;
      display: flex;
      justify-content: space-between;
    }
  }
}
@media screen and (max-width: 820px) {
  .Container--CountDown {
    width: 330px;
  }
}
