* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page2{
    position: fixed;
}

.title{
    font-weight: bold;
    font-size: 16px;
}

.titleAndPhoto{
    width: 1000px;
    /* border: red 2px solid; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imageOfTheDay {
    height: 40vh;
    width: auto;
    position: relative;
    bottom: 40px;
    border: rgb(208, 208, 208) solid 2px;
}

.titlePhotoOfTheDay{
    font-size: 30px;
    position: relative;
    bottom: 40px;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
    color: rgb(208, 208, 208)
}

.imageOfTheDayBox {
    width: 60vw;
    position:absolute;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    right: 1.5em;
}

.description{
    padding-top: 1rem;
    width: 44rem;
}

.titleAndDescription{
    background-color: rgba(128, 128, 128, 0.335);
    padding: 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    /* height: 20rem; */
    color: rgb(24, 24, 33, 0.916)
}

.card {
    position: relative;
    /* bottom: 25px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 800px; */
}

.card p{
    line-height: 150%;
}

.introDivider{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mars2Divider{
    height: 100vh;
    width: 100vw;
    /* border: black 3px solid; */
    display: flex;
    align-items: center;
}

.mars2 {
    position: absolute;
    width: 1250px;
    height: 100%;
    background: url(../assets/mars.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    border-radius: 50%;
    box-shadow: inset -20px -20px 20px rgba(0, 0, 0, 0.752), 0 0 50px #f8bc6d5b;
    animation: animateMars2 15s linear infinite;
    left: -40rem;
}

.marsPhoto {
    position: absolute;
    height: 30vh;
    width: 14vw;
    left: 31rem;
    border: rgb(208, 208, 208) solid 2px;
}
.frontOfMarsPhoto{
    position: absolute;
    height: 30vh;
    width: 14vw;
    left: 31rem;
    background: url(../assets/noise.jpg);
    animation: static .1s linear infinite;
    opacity: .12;
}

.marsPhoto2 {
    position: absolute;
    height: 15vh;
    width: 10vw;
    left: 14rem;
    top: 25rem;
    border: rgb(208, 208, 208) solid 2px;
}
.frontOfMarsPhoto2{
    position: absolute;
    height: 15vh;
    width: 10vw;
    left: 14rem;
    top: 25rem;
    background: url(../assets/noise.jpg);
    animation: static .3s linear infinite;
    opacity: .19;
}
.nightLight2{
    position: absolute;
    height: 15vh;
    width: 10vw;
    left: 14rem;
    top: 25rem;
    background-color: rgba(202, 202, 202, 0.378);
}

.marsPhoto3 {
    position: absolute;
    height: 20vh;
    width: 15vw;
    left: 30rem;
    top: 5rem;
    border: rgb(208, 208, 208) solid 2px;
}
.frontOfMarsPhoto3{
    position: absolute;
    height: 20vh;
    width: 15vw;
    left: 30rem;
    top: 5rem;
    background: url(../assets/noise.jpg);
    animation: static .1s linear infinite;
    opacity: .20;
}

.marsPhoto4 {
    position: absolute;
    height: 18vh;
    width: 13vw;
    left: 8rem;
    bottom: 11rem;
    border: rgb(208, 208, 208) solid 2px;
}
.frontOfMarsPhoto4{
    position: absolute;
    height: 18vh;
    width: 13vw;
    left: 8rem;
    bottom: 11rem;
    background: url(../assets/noise.jpg);
    animation: static .1s linear infinite;
    opacity: .12;
}
.nightLight4{
    position: absolute;
    height: 18vh;
    width: 13vw;
    left: 8rem;
    bottom: 11rem;
    background-color: rgba(223, 223, 223, 0.274);
}

.marsPhoto5 {
    position: absolute;
    height: 18vh;
    width: 13vw;
    left: 3rem;
    top: 10rem;
    border: rgb(208, 208, 208) solid 2px;
}
.frontOfMarsPhoto5{
    position: absolute;
    height: 18vh;
    width: 13vw;
    left: 3rem;
    top: 10rem;
    background: url(../assets/noise.jpg);
    animation: static .5s linear infinite;
    opacity: .30;
}

@keyframes animateMars2 {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 184.5%, 0;
    }
}

@keyframes static {
    0% {
        background-position: 0, 0;
    }
    100% {
        background-position: 100%, 100%;
    }
  }

  @media screen and (max-width: 1600px){
    .titleAndDescription{
        width: 400px;
        height: 200px;
        overflow-x: auto;
    }
    .description{
        width: 390px;
    }
    .imageOfTheDayBox {
        width: 40vw;
    }
  }

  @media screen and (max-height: 950px){
    .titleAndDescription{
        width: 400px;
        height: 200px;
        overflow-x: auto;
    }
    .description{
        width: 390px;
    }
    .imageOfTheDayBox {
        width: 40vw;
    }
  }

  @media screen and (max-width: 1200px){
    .imageOfTheDayBox {
        width: 100vw;
        height: 100vh;
        /* border: green solid 2px; */
        left: 0px;
    }
    .marsPhoto {
        opacity: 0;
    }
    .frontOfMarsPhoto{
        opacity: 0;
    }
    
    .marsPhoto2 {
        opacity: 0;
    }
    .frontOfMarsPhoto2{
        opacity: 0;
    }
    .nightLight2{
        opacity: 0;
    }
    
    .marsPhoto3 {
        opacity: 0;
    }
    .frontOfMarsPhoto3{
        opacity: 0;
    }
    
    .marsPhoto4 {
        opacity: 0;
    }
    .frontOfMarsPhoto4{
        opacity: 0;
    }
    .nightLight4{
        opacity: 0;
    }
    
    .marsPhoto5 {
        opacity: 0;
    }
    .frontOfMarsPhoto5{
        opacity: 0;
    }
  }


  @media screen and (max-height: 875px){
    .imageOfTheDayBox {
        width: 100vw;
        height: 100vh;
        /* border: green solid 2px; */
        left: 0px;
    }
    .marsPhoto {
        opacity: 0;
    }
    .frontOfMarsPhoto{
        opacity: 0;
    }
    
    .marsPhoto2 {
        opacity: 0;
    }
    .frontOfMarsPhoto2{
        opacity: 0;
    }
    .nightLight2{
        opacity: 0;
    }
    
    .marsPhoto3 {
        opacity: 0;
    }
    .frontOfMarsPhoto3{
        opacity: 0;
    }
    
    .marsPhoto4 {
        opacity: 0;
    }
    .frontOfMarsPhoto4{
        opacity: 0;
    }
    .nightLight4{
        opacity: 0;
    }
    
    .marsPhoto5 {
        opacity: 0;
    }
    .frontOfMarsPhoto5{
        opacity: 0;
    }
  }

  @media screen and (max-width: 400px){
    .titleAndDescription{
        width: 200px;
        height: 100px;
    }
    .description{
        width: 180px;
    }
  }

  @media screen and (max-height: 500px){
    .titleAndDescription{
        width: 200px;
        height: 100px;
    }
    .description{
        width: 180px;
    }
  }